.backButton {
    display: flex;
    align-items: center;
    width: 100px;
    transition: all 300ms ease-out;
    text-decoration: none;
    margin-bottom: 20px;

    p {
        margin: 0 15px 0;
        transition: all 300ms ease-out;
    }

    svg {
        fill: #444;
        transition: all 300ms ease-out;
    }

    &:hover {
        transform: translateX(10px);

        p {
            color: #1B5BF5;
        }

        svg {
            fill: #1B5BF5;
            // transform: rotate(180deg);
        }
    }

}