footer {
    padding: 50px 0 100px;

    .container {
        display: grid;
        grid-template-columns: 5fr 7fr;
    }

    ul {
        list-style: none;
        display: flex;
        padding: 0;

        li {
            margin-right: 20px;

            svg {
                fill: #111;
                transition: all 300ms ease-in-out;

                &:hover {
                    fill: #316EFF;
                }
            }
        }
    }

    .emailTopBar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    }

    form {
        clear: both;

        input {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        textarea {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 150px;
            margin-bottom: 15px;
        }
        
        button {
            float: right;
        }
    }    
}