.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    height: 100vh;

    .buttonHolder {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        @media only screen and (max-width: 650px){
            flex-direction: column;
        }
    }



    h1 {
        margin-block-start: 0.3em;
        margin-block-end: 0.3em;
    }

    h2 {
        color: #444444;
        font-weight: 300;
        font-size: 18px;
    }

    .fluxLogo {
        border-radius: 5px;
        height: 160px;
        width: 160px;
    }

    .heroHighlight {
        position: absolute;
        height: 20px;
        border-radius: 5px;
        z-index: -2;
        background-color: #BDD0FF;
    }

    .hh1 {
        width: 286px;
        margin-top: -65px;
        margin-left: 151px;
    }
    .hh2 {
        width: 384px;
        margin-top: -25px;
        margin-left: 25px;
    }
    .heroHeaderContainer {
        margin-top: 40px;
    }
}

.leftCircle{
    width: 100%;
    height: auto;
}