.heroButton {
    margin: auto;
    padding: 0 20px;
    max-width: 200px;
    @media only screen and (max-width: 650px){
        margin-top: 15px;
        max-width: none;
        .blueButton {
            width: 80vw;
            padding: 20px 22px;
        }

    }
}