nav {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.13);
    
    div {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            height: 40px;
            width: 40px;
        }

        a {
            color: #8A8A8A;
            text-decoration: none;
            transition: all 400ms ease-out;

            &:hover {
                color: #1B5BF5;
            }
        }
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;

            li {
                margin-left: 30px;
            
            }

            .selected {
                color: #1B5BF5;
                &:after {
                    display: block;
                    box-sizing: border-box;
                    content: ' ';
                    position: relative;
                    top: 10px;
                    height: 4px;
                    margin: 0 -3px;
                    border-radius: 2px;
                    background: #1B5BF5;
                }
            }
        }
    }   
}