.newsletter {
    padding: 80px 0;
    h1 {
        color: black;
    }
    p {
        margin-top: 8px !important;
    }
    .inputContainer {
        display: flex;
        justify-content: center;
        margin-top: 30px !important;
        input, button {
            margin: 0 8px;
        }
        input {
            padding: 10px;
            width: 350px;
            font-size: 15px;
            line-height: 22px;
            border-radius: 5px;
            border: 1px #A0A0A0 solid;
        }
        input:focus {
            border: 1px #5a5a5a solid;
        }

    }
}