// Typography

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.title {
    font-style: normal;
    font-weight: bold;
    line-height: 118%;
    margin-top: 0;
    color: #444444;

    &.large {
        font-size: 48px;
    }

    &.medium {
        font-size: 34px;
    }

    &.regular {
        font-size: 22px;
    }

    &.small {
        font-size: 17px;
    }
    &.center {
        margin: auto;
        text-align: center;
    }
}

.body {
    font-style: normal;
    font-weight: normal;
    margin-top: 0;
    color: #444444;

    &.large {
        font-size: 22px;
        line-height: 32px;
    }

    &.medium {
        font-size: 17px;
        line-height: 24px;
    }

    &.regular {
        font-size: 15px;
        line-height: 22px;
    }

    &.small {
        font-size: 13px;
        line-height: 20px;
    } 

    &.bold {
        font-weight: 700;
    }

    &.semi-bold {
        font-weight: 600;
    }
    &.center {
        margin: auto;
        text-align: center;
    }
}


// General Layout

body {
    margin: 0;
}

.container {
    max-width: 1200px;
    width: 90vw;
    margin: 0 auto;
}

.threeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    @media only screen and (max-width: 1000px){
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width: 650px){
        grid-template-columns: 1fr;
    }
}

section {
    padding: 50px 0;
}


// Forms and Buttons

.blueButton {
    padding: 14px 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    background: #1B5BF5;
    color: white;
    border: none;
    border-radius: 5px;
}

.whiteButton {
    padding: 14px 22px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 15px;
    border: 2px solid #1B5BF5;
    color: #1B5BF5;
    background: white;
    border-radius: 5px;
    transition: all 400ms ease-out;

    &:hover {
        color: white;
        background: #1B5BF5;
    }
}

button:hover {
    cursor: pointer;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

input, textarea {
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 15px;
    line-height: 22px;
    resize: none;

    &.filled {
        background: #E8E8E8;

        &:focus {
            box-shadow: 0 0 3px #316EFF;
        }
    }

    &.outlined {
        border: 1px #A0A0A0 solid;

        &:focus {
            border: 1px #5a5a5a solid;
        }
    }

    &:-webkit-autofill {
        &.filled {
            -webkit-box-shadow: 0 0 0px 1000px #E8E8E8 inset;
        }

        &.outlined {
            -webkit-box-shadow: 0 0 0px 1000px #fff inset;
            border: 1px #A0A0A0 solid;
        }
    }    
}

.iconInput {
    input {
        width: 100%;
    }

    img {
        position: absolute;
        margin-left: -45px;
        margin-top: 5px;
    }
}

// Shadows


.box-shadow-dreamy {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.08),
                0 16px 32px rgba(0,0,0,0.08), 
                0 32px 64px rgba(0,0,0,0.08);
}

.sectionTitle {
    h1 {
        margin-bottom: 15px;
    }

    p {
        max-width: 750px;
        margin: 0;
    }

    margin-bottom: 30px;
}

.graySection {
    background-color: #FAFAFA;
}

main.adjusted {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 80px;
}